<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="$(optenv HUSKY_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />
  <arg name="keyboard" default="false" />

  <group ns="joy_teleop" if="$(arg joystick)">
    <group unless="$(optenv HUSKY_LOGITECH 0)" >
      <rosparam command="load" file="$(find husky_control)/config/teleop_xbox.yaml" />
    </group>

    <group if="$(optenv HUSKY_LOGITECH 0)" >
      <rosparam command="load" file="$(find husky_control)/config/teleop_logitech.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" if="$(arg joystick)">
      <!-- <param name="dev" value="/dev/input/js0"/>
      <param name="coalesce_interval" value="0.02"/>
      <param name="autorepeat_rate" value="30.0"/> -->
    </node>
    <!-- for some reason the original name of teleop_twist_joy didn't work, but switching to teleop_node does-->
    <!-- teleop_node is the name given from the install ros-noetic-joy package -->
    <!-- maybe there is a node already running named teleop_twist_joy -->
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
      <!-- <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/> -->
    </node>
  </group>

  <group ns="kb_teleop" if="$(arg keyboard)" >
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_kb" />
  </group>

</launch>
